certifi==2017.11.5
chardet==3.0.4
DateTime==4.2
googlefinance==0.7
idna==2.6
numpy==1.13.3
pandas==0.21.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
zope.interface==4.4.3
